/* Add additional stylesheets below
-------------------------------------------------- */
#intro {
	
	height: auto;
	margin: 0 auto;
	width: 100%;
	position: relative;
	padding: 100px 0;
}

#home {
	background: url(/assets/images/home.jpg) 50% 0 fixed;
	height: auto;
	margin: 0 auto;
	width: 100%;
	position: relative;
	padding: 200px 0;
}

#about {
	background: url(/assets/images/about.png) 50% 0 fixed;
	height: auto;
	margin: 0 auto;
	width: 100%;
	position: relative;
	box-shadow: 0 0 50px rgba(0, 0, 0, 0.8);
	padding: 100px 0;
	color: #fff;
}



.media-object {
	width: 64px;
	height: 64px;
	padding-bottom: 30px
}

.navbar{
	background: rgba(255,255,255,0.7);
	
}

#first_logo {
	
	background: linear-gradient(
		rgba(0,0,0,0.5),
		rgba(0,0,0,0.5)
	), url(/assets/images/barra.jpg) no-repeat top center;
	height: 100vh;
	background-size: cover;
	position:relative;
}

.index-title{
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	text-align: center;	
	color: white;	
	
}
/*.title h1{
		
	font-weight: 700;
	font-size: 3em;
}*/

@media only screen and (max-width: 320px) {

  .title h1 { font-size: 2rem; }

}

.grid-item--width2{
	width : 300px;
}

.grid-item--height2{
	height : 600px;
}

/*body{
	
	font-family: 'Lato'
}
*/

/*css modifications for materialize.css*/

/*nav ul a, nav i,
nav .brand-logo {
  color: #444;
}*/

.page-footer {
	margin-top: 0 !important ;
}


.info {
    padding-left: 32px !important;
    text-align: left;
}







.info .section-wrapper {
    background-color: #ffffff;
    overflow: hidden;
    margin-bottom: 24px;
    padding-bottom: 24px !important;
}

.info .section-wrapper .section-icon {
    margin-top: 40px;
}



.profile-sidebar {
    text-align: left;
    color: #ffffff;
    background-color: #5da4d9;
    overflow: hidden;
    display: block;
}

.profile-sidebar .icon {
    margin-top: 40px;
}

.heading{
	position: relative;
}
.profile-sidebar .heading .name {
    position: absolute;
    right: 11px;
    bottom: 46px;
}

.container-general {
    margin-top: 24px; 
}

.section span{
	opacity: 0.7;
}

.margined-top{
	
	margin-top: 40px;
}

body{
	background-color: #f2f2f2;
	/* #eae8e7;*/ 
}

.chip.indigo{
	color: #ffffff;
}

/*
.collection .collection-item.active{

	background-color: #ffffff;
	color: rgba(0,0,0,0.87);
}
*/

#offerBlock .fixed-action-btn{
	position: static !important;
}

/*This is for preventing calls in the <a> element when in disabled class*/
a.disabled {
	pointer-events: none;
	cursor: default;
}

/*JQUERY VALIDATION PLUGIN FIXES for error messages https://github.com/Dogfalo/materialize/issues/1562*!*/
label {
width: 100%;
}
.input-field label {

	font-size: 0.8rem;
	-webkit-transform: translateY(-140%);
	-moz-transform: translateY(-140%);
	-ms-transform: translateY(-140%);
	-o-transform: translateY(-140%);
	transform: translateY(-140%);
}
/*END JQUeRY VALIDATION */

/*label:after {
	transition-property: all !important;
	font-size: 0.8rem;
	transform: none;
}
label:not(.active):after {
	transform: translateY(-140%);
}*/

.loader{

	height: 50px;
	width: 60px;
}
#toast-container .toast {
	cursor: pointer;
}

.admin-menu{
	z-index: inherit;
	margin-top: 64px;
	color: #000;
}
main, footer{

	padding-left: 240px;

}

.progress{
	margin: 0;
	background-color: rgba(255,64,129,0.22);
}
.progress .indeterminate{
	background-color: deeppink;
}
.offer-item{
	width: 100%;
}

@media only screen and (max-width: 992px){
	.info {
	    text-align: center;
	    margin-top: 30px;
	    padding-left: 0.75rem !important;
	
	}

	.profile-sidebar{

		text-align: center;
	}
}