<#import "../layout/defaultLayout.ftl.html" as layout> <@layout.myLayout "Ofertas">

<div class="container">

	<div class="row">
        <div class="col s12">
            <div class="row">
                <h3>${selectedOffer.title}</h3>
                <h5>${selectedOffer.offerType.name} en ${selectedOffer.location}</h5>
                <div class="row">
                    <div class="col s6">
                        <i class="small material-icons">query_builder</i> ${selectedOffer.startDateInternship}
                    </div>
                    <div class="col s6">

                        <#if selectedOffer.hasIncome>
                            <div class="row">
                                Cuenta con  remuneración <i class="small material-icons">done</i>
                            </div>
                        </#if>
                        <#if selectedOffer.hasLocomotion>
                            <div class="row">
                            Cuenta con  Locomoción <i class="small material-icons">done</i>
                            </div>
                        </#if>
                        <#if selectedOffer.hasLunch>
                            <div class="row">
                            Cuenta con Casino <i class="small material-icons">done</i>
                            </div>
                        </#if>

                    </div>
                </div>
            </div>
        </div>
        <div class="col s12">
            <ul class="collection">
                <li class="collection-item dismissable">
                    <div>
                        ${selectedOffer.description}
                    </div>
                </li>
            </ul>
        </div>
	</div>
</div>
</@layout.myLayout>