<#import "../layout/defaultLayout.ftl.html" as layout> <@layout.myLayout "Detalle Oferta">

    <div class="container">

        <div class="row">
            <div class="col s12">
                <div class="row">
                    <h3>${selectedOffer.title}</h3>
                    <h5>${selectedOffer.offerType.name} en ${selectedOffer.location}</h5>
                    <div class="row">
                        <div class="col s6">
                            <i class="small material-icons">query_builder</i> ${selectedOffer.startDateInternship}
                        </div>
                        <div class="col s6">

                            <#if selectedOffer.hasIncome>
                                <div class="row">
                                    Cuenta con  remuneración <i class="small material-icons">done</i>
                                </div>
                            </#if>
                            <#if selectedOffer.hasLocomotion>
                                <div class="row">
                                Cuenta con  Locomoción <i class="small material-icons">done</i>
                                </div>
                            </#if>
                            <#if selectedOffer.hasLunch>
                                <div class="row">
                                Cuenta con Casino <i class="small material-icons">done</i>
                                </div>
                            </#if>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <ul class="collection">
                    <li class="collection-item">
                        <div id="summernote">
                            <#noescape>${selectedOffer.description}</#noescape>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <#if session.role == "1" || session.role == "4">
            <div class="row">
                <div class="col s12">
                    <#if selectedOffer.createdByStudent>
                        <a id="directApproveBtn" class="waves-effect waves-light btn btn-large green <#if selectedOffer.studentOfferApproved || selectedOffer.closed> disabled </#if>"
                           href="/directApproveOffer"> <i class="material-icons left">cloud</i>
                            <#if selectedOffer.studentOfferApproved> Oferta ya aprobada <#else>${i18n("offerDetail.approveOffer")}</#if></a>
                    <#else>
                        <a id="publishOfferBtn" class="waves-effect waves-light btn btn-large green <#if selectedOffer.available> disabled </#if>"
                           href="/publishOffer"> <i class="material-icons left">cloud</i>
                        <#if selectedOffer.available> Oferta ya publicada <#else>${i18n("offerDetail.publishOffer")}</#if></a>

                        <#if selectedOffer.available>

                            <a id="viewApplicantsBtn" class="waves-effect waves-light btn btn-large blue-grey"
                               href="/viewApplicants">${i18n("offerDetail.viewApplicants")}<i class="material-icons left">group</i></a>
                        </#if>
                    </#if>



                </div>
            </div>
        <#elseif session.role == "2">
            <div class="row">
                <div class="col s12">
                        <a id="validateOfferBtn" class="waves-effect waves-light btn btn-large green <#if selectedOffer.approved> disabled </#if>"
                               href="/approveOffer"> <i class="material-icons left">check_circle</i>
                                <#if selectedOffer.approved> Oferta ya aprobada <#else>${i18n("offerDetail.approveOffer")}</#if></a>

                        <a id="viewCandidatesBtn" class="waves-effect waves-light btn btn-large blue-grey"
                           href="/viewCandidates">${i18n("offerDetail.viewApplicants")}<i class="material-icons left">group</i></a>

                </div>
            </div>
        <#elseif session.role == "3">
            <div class="row">
                <div class="col s12">

                    <a id="applicateForOfferBtn" class="waves-effect waves-light btn btn-large green modal-trigger"
                           href="#modalApplication"> <i class="material-icons left">assignment</i>${i18n("offerDetail.apply")} </a>

                </div>
            </div>
        </#if>

    </div>

    <div id="modalApplication" class="modal modal-fixed-footer">
        <div class="modal-content">
            <h4>Postular a oferta</h4>
            <p>Desea actualizar su CV antes de postular a esta oferta?</p>

            <form id="curriculumForm" method="post" enctype="multipart/form-data" action="/uploadCurriculumFinish">
                <div class="file-field input-field">
                    <div class="btn">
                        <span>File</span>
                        <input type="file" name="upfile" accept=".doc, .docx, .pdf" />
                        <br/>
                    </div>
                    <div class="file-path-wrapper">
                        <input class="file-path validate" type="text">
                    </div>
                </div>
                <button type="submit" class="btn waves-effect waves-light">${i18n("offer.submit")}<i class="material-icons right">send</i></button>

            </form>
        </div>
        <div class="modal-footer">
            <a href="/applyForOffer" class="modal-action modal-close waves-effect waves-green btn-flat ">Postular</a>
        </div>
    </div>

    <script type="text/javascript">
        $(document).ready(function() {

            <#if studentAlreadyApplied>
                var applyBtn = $('#applicateForOfferBtn');
                applyBtn.addClass('disabled');
                applyBtn.text('Ya postulaste a esta oferta');
            </#if>

            $('.modal-trigger').leanModal();
        });

        $('#curriculumForm').submit(function (e) {
            event.preventDefault();
            e.returnValue = false;
            $('.progress').show();

            var data = new FormData($(this)[0]);
            /*jQuery.each(jQuery('#file')[0].files, function(i, file) {
             data.append('upfile'+i, file);
             });*/

            console.log(data);
            $.ajax({
                url: "/uploadCurriculumFinish",
                type: "post",
                data: data,
                cache: false,
                contentType: false,
                processData: false,
                dataType: "json"
            })
                    .done(function(data) {
                        console.log("success!");
                        $('#cvLocation').attr("src", data);
                        Materialize.toast("${i18n('profile.curriculum.success')}", 5000);
                    })
                    .fail(function (data) {
                        // here we will handle errors and validation messages
                        console.log("error");
                        console.log(data);
                    })
                    .always(function (){
                        $('#modalCV').closeModal();
                        $('.progress').hide();
                    });

        });
    </script>
</@layout.myLayout>