<#import "../layout/defaultLayout.ftl.html" as layout> <@layout.myLayout "Ofertas">

<div class="container">

	<div class="row">
        <aside class="col l4 s12 m12 profile-sidebar z-depth-1">
            <div class="row">
                <h3>${selectedOffer.title}</h3>
                <h5>${selectedOffer.offerType.name} en ${selectedOffer.location}</h5>
                <div class="row">
                    <div class="col-md-6">
                        <i class="small material-icons">query_builder</i> ${selectedOffer.startDateInternship}
                    </div>
                    <div class="col-md-6">
                        <#if selectedOffer.hasIncome>
                            <i class="small material-icons">done</i> ${selectedOffer.hasIncome?c}
                        </#if>
                        <#if selectedOffer.hasLocomotion>
                            <i class="small material-icons">done</i> ${selectedOffer.hasLocomotion?c}
                        </#if>
                        <#if selectedOffer.hasLunch>
                            <i class="small material-icons">done</i> ${selectedOffer.hasLunch?c}
                        </#if>
                    </div>
                </div>
            </div>
        </aside>
        <div class="col-xs-14 col-sm-12 col-md-12 col-lg-12">
            <ul class="collection">
                <li class="collection-item dismissable">
                    <div>
                        ${selectedOffer.description}
                    </div>
                </li>
            </ul>
        </div>
	</div>
</div>
</@layout.myLayout>