<#import "../layout/defaultLayout.ftl.html" as layout> 
<@layout.myLayout "Ofertas">  

<div class="container">
	
	<div class="row">
        <div class="col s12 m4 l3">
            <div id="aside">
                <br/>
                <#if session.role == "2"|| session.role == "1">
                    <a href="/newOffer" class="waves-effect waves-light btn-large">Nueva Oferta</a>

                <#elseif session.role == "3">
                    <a href="/myApplications" class="waves-effect waves-light btn-large">Mis Postulaciones</a>
                </#if>

                <div id="filters" class="collection z-depth-1">
                    <#list offerTypes as offerType>
                        <a href="#!" class="collection-item" data-filter="${offerType.id}">${offerType.name}<span class="badge">${offerType.offers?size}</span></a>
                        <#else>
                    </#list>

                    <#if session.role == "2">
                        <a href="#!" id="misOfertas" class="collection-item" data-filter="${session.userId}">${i18n("offers.myOffers")}<span class="badge">${userLoggedOffers?size}</span></a>
                    </#if>
                </div>


            </div>
        </div>
		<div class="col s12 m8 l9 ">
            <div>
                <#list offers>
                    <ul id="offerList" class="collection z-depth-1">
                        <#items  as offer>
                            <li id="offerBlock" class="collection-item avatar" data-type="${offer.offerType.id}" data-id="${offer.organization.id}">
                                <div class="row">
                                    <div class="col s1">
                                        <img src="https://www.google.com.pg/images/branding/googleg/1x/googleg_standard_color_128dp.png" alt="" class="circle">

                                    </div>
                                    <div class="col s7">
                                        <h5>${offer.title}</h5>
                                        <p>
                                            <strong>${(offer.organization.user.firstName)!"N/A"}</strong> en ${offer.location}
                                        </p>

                                    </div>
                                    <div class="col s4">

                                            <div class="chip indigo">
                                                ${offer.offerType.name}
                                            </div>

                                    </div>

                                        <div class="fixed-action-btn horizontal click-to-toggle" >
                                            <a class="btn-floating btn-large red">
                                                <i class="material-icons">menu</i>
                                            </a>
                                            <ul>
                                                <li><a href="/offerDetails/${offer.id}" class="btn-floating green"><i class="material-icons right">details</i></a></li>
                                                <#if session.role == "1" || (session.role == "2" && session.userId == offer.organization.id?c)>

                                                    <li><a href="/deleteOffer/${offer.id}" class="btn-floating yellow <#if session.role == "2" && offer.approved>disabled</#if>" ><i class="material-icons right">delete</i></a></li>
                                                    <li><a href="/editOffer/${offer.id}" class="btn-floating blue <#if session.role == "2" && offer.approved>disabled</#if>"><i class="material-icons right">edit</i></a></li>

                                                </#if>

                                            </ul>
                                        </div>
                                </div>
                            </li>
                        </#items>
                    </ul>
                <#else>
                    <p>No hay ofertas disponibles</p>
                </#list>

            </div>
		</div>
	</div>



    <!-- Modal Structure -->
    <div id="deleteOffer" class="modal">
        <div class="modal-content">
            <h4>${i18n("offers.deleteOffer")}</h4>
            <p>${i18n("offers.deleteOfferMessage")}</p>
        </div>
        <div class="modal-footer">
            <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">${i18n("offers.offerDeleteAccept")}</a>
        </div>
    </div>

</div>
<script type="text/javascript">
    $(document).ready(function(){

        $('.navbar li.active').removeClass('active');
        $('#menus #offers-btn').addClass('active');

        var $grid = $('.grid').isotope({
            itemSelector: '.grid-item',
            masonry: {
                columnWidth: 50
            }
        });

        $grid.imagesLoaded().progress( function() {
            $grid.isotope('layout');
        });

    });

    $('#filters').on('click', function() {
        var keywords = $(this).children('a.active').map(function () {
            return $(this).attr("data-filter");
        }).get();
        $('#offerList > li').each( function() {
            if($('#misOfertas').hasClass('active')) {
                $(this).toggle($('#misOfertas.active').attr('data-filter').indexOf($(this).attr('data-id')) > -1);
            }else{
                $(this).toggle(keywords.length < 1 || $.inArray($(this).attr('data-type'), keywords) != -1)
            }
        });

    });

    $('#filters a').on('click', function() {
        $(this).toggleClass("active");
    });

</script>
	
	
</@layout.myLayout>