<#import "../layout/defaultLayout.ftl.html" as layout> 
<@layout.myLayout "Ofertas">  

<div class="container">
	
	<div class="row">
        <div class="col s12 m4 l3">
            <div id="aside">
                <br/>
                <a href="/newoffer" class="waves-effect waves-light btn-large">Nueva Oferta</a>

                <div class="collection z-depth-1">
                    <#list offerTypes as offerType>
                        <a href="#!" class="collection-item">${offerType.name}<span class="badge">${offerType.offers?size}</span></a>
                        <#else>
                    </#list>
                </div>
            </div>
        </div>
		<div class="col s12 m8 l9 ">
            <div>
                <ul class="collection z-depth-1">
                    <#list offers as offer>
                        <li id="offerBlock" class="collection-item avatar">
                            <div class="row">
                                <div class="col s1">
                                    <img src="https://www.google.com.pg/images/branding/googleg/1x/googleg_standard_color_128dp.png" alt="" class="circle">

                                </div>
                                <div class="col s7">
                                    <h5>${offer.title}</h5>
                                    <p>
                                        <strong>${(offer.organization.user.firstName)!"N/A"}</strong> en ${offer.location}
                                    </p>

                                </div>
                                <div class="col s4">

                                        <div class="chip indigo">
                                            ${offer.offerType.name}
                                        </div>

                                </div>

                                    <div class="fixed-action-btn horizontal " >
                                        <a class="btn-floating btn-large red">
                                            <i class="material-icons">menu</i>
                                        </a>
                                        <ul>
                                            <li><a href="/offerDetails/${offer.id}" class="btn-floating green"><i class="material-icons right">details</i></a></li>
                                            <li> <a href="/deleteOffer/${offer.id}" class="btn-floating yellow"><i class="material-icons right">delete</i></a></li>
                                            <li><a href="/editOffer/${offer.id}" class="btn-floating blue"><i class="material-icons right">edit</i></a></li>

                                        </ul>
                                    </div>
                            </div>
                        </li>
                    <#else>
                        <p>No hay ofertas disponibles</p>
                    </#list>
                </ul>
            </div>
		</div>
	</div>



    <!-- Modal Structure -->
    <div id="deleteOffer" class="modal">
        <div class="modal-content">
            <h4>${i18n("offers.deleteOffer")}</h4>
            <p>${i18n("offers.deleteOfferMessage")}</p>
        </div>
        <div class="modal-footer">
            <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">${i18n("offers.offerDeleteAccept")}</a>
        </div>
    </div>

</div>
<script type="text/javascript">
    $(document).ready(function(){

        $('.navbar li.active').removeClass('active');
        $('#menus #offers-btn').addClass('active');

        var $grid = $('.grid').isotope({
            itemSelector: '.grid-item',
            masonry: {
                columnWidth: 50
            }
        });

        $grid.imagesLoaded().progress( function() {
            $grid.isotope('layout');
        });

    });


</script>
	
	
</@layout.myLayout>