target/
.classpath
.settings
.project
dependency-reduced-pom.xml
*.log
*.log.gz
*idea
*.tmp
*.iml
src/main/java/assets/uploadedContent/
*.backup
*.sql
src/main/java/views/AdminController/react.ftl.html