<#import "../layout/defaultLayout.ftl.html" as layout>

<@layout.myLayout i18n("title")>

    <div class="container">

        <#list internshipList>
            <ul class="collection">
                <#items as internship>
                    <li class="collection-item avatar">
                        <img src="/assets/images/company-logo.jpg" class="circle">
                        <span class="title">${internship.title}</span>
                        <p><#if session.role == '3'>${internship.organization.name} <#else>Practicante: <span> ${internship.student.name}</span></#if><br>
                           <#if !internship.closed> ${i18n("internship.inprogress")} <#else> ${i18n("internship.closed")} </#if><br>
                        </p>
                        <a href="/logbook/${internship.id}" class="secondary-content tooltipped"
                           data-position="bottom" data-delay="50" data-tooltip="${i18n("internship.seeDetails")}"><i class="material-icons">details</i></a>
                    </li>
                </#items>
            </ul>
        <#else>
            <h3 class="center-align">${i18n("internship.noItems")}</h3>
        </#list>


    </div>
</@layout.myLayout>
