


<div class="progress">
	<div class="indeterminate" ></div>
</div>

	<div class="navbar-fixed">
		<nav class="indigo" role="navigation">
			<div class="nav-wrapper container">
				<a class="brand-logo" href="/">PRACUTAL</a></li>
				<a data-activates="mobile-nav" class="button-collapse"><i class="material-icons">menu</i></a>				
				
				

				<ul id="menus" class="right hide-on-med-and-down">
					<#if (session.username)??>
						<#if session.role = "1">
		                	<li id="admin-btn" ><a href="/admin">${i18n("header.admin")}</a></li>
						<#else>
							<li id="profile-btn"><a href="/profile">${i18n("header.profile")}</a></li>
		                </#if>

						<#if session.role = "3" || session.role = "2">
							<li id="internship-btn" ><a href="/internships">${i18n("header.internships")}</a></li>
						</#if>

	                	<li id="offers-btn"><a href="/offers">${i18n("header.offers")}</a></li>

		                <li><a>${session.username}</a></li>
		                <li><a href="/logout">${i18n("header.logout")}</a></li>                
		            <#else> 
		            	<li id="home-btn" class="active"><a href="/">${i18n("header.home")}</a></li>               
		                <li id="login-btn"><a href="/login" id="login">${i18n("header.login")}</a></li>
		            </#if>
				</ul>

				<ul class="side-nav" id="mobile-nav">
					<#if (session.username)??>
						<#if (session.isAdmin)??>
		                	<li id="admin-btn" ><a href="/admin">${i18n("header.admin")}</a></li>
		                </#if>

		                <li id="profile-btn"><a href="/profile">${i18n("header.profile")}</a></li>
	                	<li id="offers-btn"><a href="/offers">${i18n("header.offers")}</a></li>

		                <li><a>${session.username}</a></li>
		                <li><a href="/logout">${i18n("header.logout")}</a></li>                
		            <#else> 
		            	<li id="home-btn" class="active"><a href="/">${i18n("header.home")}</a></li>               
		                <li><a href="/login" id="login">${i18n("header.login")}</a></li>
		            </#if>
				</ul>
			</div>
		</nav>
	</div>

	<script type="text/javascript">
		           
		$(document).ready(function(){
    		
    		 $(".button-collapse").sideNav();
    		$('.progress').hide();
    	});
	</script>
