<#import "mailLayout.ftl.html" as layout>
<@layout.mailLayout>
    <h2>Felicitaciones </h2>    <p>
        El Centro de Pr&aacute;cticas de la Universidad de Talca le informa que ha sido seleccionado como finalista en su postulaci&oacute;n
        a la oferta ${application.offer.title} de ${application.offer.organization.name}
        <br>
        <br>
        Puede revisar el estado de su postulaci&oacute;n en <strong style="color:blue">Mis Postulaciones</strong>
        <br>
    </p>
</@layout.mailLayout>
