<#import "../layout/defaultLayout.ftl.html" as layout> 
<@layout.myLayout "Home page">    


	<div id="first_logo" >
	
		<div class="index-title">
			<h2 >${i18n("title.welcome")}</h1>
			<!--<h4>${i18n("title.h2")}</h2>-->

		</div>
		
	
	</div>
    <#include "../LoginLogoutController/login.ftl.html"/>
    <!--<#include "footer.ftl.html"/>-->


	<#if frontArticle??>

    <div class="jumbotron">
        <h1>
            <a href="/article/${frontArticle.id}">${frontArticle.title}</a>    
        </h1>  
        <p>${frontArticle.postedAt?date}</p>  
        <p><#noescape>${frontArticle.content}</#noescape></p>
    </div>
</#if>


<#if olderArticles??>
    
    <#list olderArticles as article>
        <h3>
            <a href="/article/${article.id}">${article.title}</a>    
        </h3>  
        <p>${article.postedAt?date}</p>  
    </#list>
    
</#if>


<script type="text/javascript">
    
    $('.navbar-fixed nav').removeClass('indigo');
    $('.navbar-fixed nav').addClass('white');

    $('nav ul a, nav i, nav .brand-logo').css("color","#444");
</script>
</@layout.myLayout>