        <div class="row">
            <div class="col s12">
                <br>
                <#list applicationList>
                    <table class="responsive-table highlight white z-depth-1">
                        <thead>
                        <tr>
                            <th data-field="name">Nombre</th>
                            <th data-field="name">Apellido</th>
                            <th data-field="career">Carrera</th>
                            <th data-field="year">N° Matricula</th>
                            <th data-field="date">Fecha postulacion</th>
                        </tr>
                        </thead>
                        <tbody>
                            <#items as application>
                                <tr class="">
                                    <td>${application.student.name} </td>
                                    <td>${application.student.lastName}</td>
                                    <td>${application.student.career.careerName}</td>
                                    <td>${application.student.registrationNumber}</td>
                                    <td>${application.createdAt}</td>
                                </tr>
                            </#items>
                        </tbody>

                    </table>
                    <#else>
                        <h2> No existen postulaciones para esta oferta</h2>
                </#list>


            </div>
        </div>
