<#import "../layout/defaultLayout.ftl.html" as layout> <@layout.myLayout i18n("admin.adminitration")>




		<nav id="slide-out" class="side-nav fixed admin-menu">
			<ul class="">
				<li class="collection-item"><a id="studentsBtn"><i class="material-icons left">local_library</i>${i18n("admin.students")}</a></li>
				<li class="collection-item"><a id="organizationsBtn"><i class="material-icons left">business_center</i>${i18n("admin.organizations")}</a></li>
				<li class="collection-item"><a id="reportsBtn"><i class="material-icons left">insert_chart</i>${i18n("admin.reports")}</a></li>
<!--
				<li class="collection-item"><a><i class="material-icons left">insert_chart</i>${i18n("admin.reports")}</a></li>
-->
			</ul>

		</nav>
	<a href="#" data-activates="slide-out" class="button-collapse show-on-large"><i class="material-icons">menu</i></a>

		<main>

			<div class="container" id="content">

				<h2> ${i18n("admin.administation")}</h2>

			</div>

		</main>
		<div class="fixed-action-btn" >
			<a class="btn-floating btn-large red">
				<i class="material-icons">menu</i>
			</a>
			<ul>
				<li><a href="/addStudents" class="btn-floating green tooltipped"
					   data-position="left" data-delay="50" data-tooltip="Nuevo estudiante"><i class="material-icons right">school</i></a></li>
				<li><a  href="/newOrganization" class="btn-floating blue tooltipped"
					   data-position="left" data-delay="50" data-tooltip="Nueva empresa"><i class="material-icons right">business_center</i></a></li>

			</ul>
		</div>

	<script type="text/javascript">
		$(document).ready(function () {
			$('.navbar li.active').removeClass('active');
			$('#menus #admin-btn').addClass('active');

			$('#studentsBtn').click(function () {

				$('.progress').show();
				$.ajax({
					url: "/students",
					type: "get"
				})
						.done(function (data) {
							console.log("success");
							$('#content').html(data);
							$('.progress').hide();
						})
			});

			$('#organizationsBtn').click(function () {

				$('.progress').show();
				$.ajax({
					url: "/organizations",
					type: "get"
				})
					.done(function (data) {
						console.log("success");
						$('#content').html(data);
						$('.progress').hide();
					})
			});



			$('#reportsBtn').click(function () {

				$('.progress').show();
				$.ajax({
					url: "/reports",
					type: "get"
				})
						.done(function (data) {
							console.log("success");
							$('#content').html(data);
							$('.progress').hide();
						})
			});
		});

	</script>

</@layout.myLayout>