<#import "../layout/defaultLayout.ftl.html" as layout> 
<@layout.myLayout "Nuevo Usuario">  


<div class="container">

	<div class="row">
		<div class="col s12">
			<form action="" method="post" class="form-horizontal" role="form">

                <div class="row">
                    <div class="input-field col s12">
                        <h4>Nuevo alumno</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input placeholder="${i18n('offer.title.placeholder')}" id="${i18n('offer.title')}" name="title"  type="text"
                               class="validate" required aria-required="true" value="<#if offer??>${(offer.title)!}</#if>">
                        <label for="${i18n('offer.title')}">${i18n("offer.title")}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
							<textarea id="${i18n('offer.description')}" name="description" placeholder="${i18n('offer.description.placeholder')}"
                                      class="validate" value="<#if offer??>${(offer.description)!}</#if>"></textarea><br/>
                        <label for="${i18n('offer.description')}">${i18n("offer.description")}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <input id="${i18n('offer.startDate')}" name="startDateInternship" type="date" class="datepicker" readonly="false" required>
                        <label for="${i18n('offer.startDate')}">${i18n("offer.startDate")}</label>
                    </div>
                    <div class="input-field col s6">
                        <input id="endDate" name="endDate" type="date" class="datepicker" required>
                        <label for="endDate">${i18n("offer.endDate")}</label>
                    </div>
                </div>

				<input type="submit" value="${i18n("articleNew.postNewArticle")}" class="btn btn-success pull-right" />

			</form>

		</div>

	</div>
</div>



</@layout.myLayout>