

	<div class="row login">

		<div class="col s12">
			<div class="card-panel  darken-1 z-depth-2">

				<form action="/login" method="post" class="form-horizontal" role="form" onsubmit="loading()">

				    <div class="row">

				    	<div class="input-field col s12">
				    		<label for="username">${i18n("login.username")}</label>
				    		<input type="text" id="username" required="true" class="validate" value="${(flash.username)!""}" name="username" id="username">
				    	</div>
	                </div>
	                
	                <div class="row">
	                	<div class="input-field col s12">
		                    <label for="password">${i18n("login.password")}</label>
		                    <input type="password" class="validate" required="true" name="password" id="password" value="${(flash.password)!""}">	                 
	                    </div>
	                </div>
					<div class="row">
						<div class="input-field col s12">
							<input type="checkbox" name="rememberMe" id="rememberMe">
							<label for="rememberMe">${i18n("login.rememberMe")}</label>
						</div>
					</div>
					<div class="row">
						<div class="input-field col s12">
							<button type="submit" class="btn pink waves-effect waves-light">${i18n("login.loginNowButton")}</button>
						</div>
					</div>
				</form>
			<div>
		</div>
	</div>




	<script type="text/javascript">
		$(document).ready(function(){

			$('.navbar-fixed li.active').removeClass('active');
			$('#menus #login-btn').addClass('active');
		});

		function loading(){
			$('.progress').show();
			var submitButton = $('button[type=submit]');
			submitButton.text("cargando...");
			submitButton.addClass("disabled");
		}
	</script>